{% extends 'base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date| date:"Y-m-d в H:i:s" }} <br>
                <p> Автор заявки:{{ post.author }}</p><br>
                Категория заявки:<h6>{{ post.theme }}</h6>

            </div>
        {% endif %}
        <div class="row justify-content-end">
            <div class="col-md-5 col-md-offset-4">
                <a class="sidebar-nav">
                    {% if post.author == user or user.is_superuser %}
                        <a class="btn btn-default " href="{% url 'post_edit' pk=post.pk %}">Редактировать пост<span
                                class=" glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger " href="{% url 'post_delete' pk=post.id %}">Удалить пост<span
                                class=" glyphicon glyphicon-pencil"></span></a>

                    {% else %}
                        <p style="color: #808080 ;font-size: 15pt">Для редактирования требуется войти или быть
                            автором</p>
                    {% endif %}
                </a>
            </div>
        </div>
        <h1>{{ post.title }}</h1>
        <div style="background:#87CEEB; height:200px ">
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% include 'comment.html' %}
    </div>
{% endblock %}
